# Django
# if USE_DOCKER=0 - use GitHub else USE_DOCKER=1 - use Docker

USE_DOCKER=1

SECRET_KEY=your_secret_key_django
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=your_admin_password
DJANGO_SUPERUSER_FIRST_NAME=Admin
DJANGO_SUPERUSER_LAST_NAME=User

# PostgreSQL

POSTGRES_PASSWORD=your_db_password
POSTGRES_USER=user
POSTGRES_DB=library
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Telegram

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Stripe

STRIPE_SECRET_KEY=your_secret_key_stripe
